<!DOCTYPE html>
<html>
<head>
<title>Mashboard</title>

<script src="javascripts/jquery-1.5.min.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/underscore-min.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/backbone.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
  <h1>Mashboard</h1>
  
  <div id="unreadCount">Yep.</div>
</body>

</html>