<!DOCTYPE html>
<html>
<head>
<title>Mashboard</title>

<script src="jquery-1.5.min.js" type="text/javascript" charset="utf-8"></script>
<script src="underscore-min.js" type="text/javascript" charset="utf-8"></script>
<script src="backbone.js" type="text/javascript" charset="utf-8"></script>

<!-- <script src="javascripts/js.js" type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="javascripts/react.js" type="text/javascript" charset="utf-8"></script> -->

<script src="gmail_data.js" type="text/javascript" charset="utf-8"></script>
<script src="app.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
  <div id="app">
    <h1>Mashboard</h1>
  
    <div>Unread: <span id="unreadCount">n/a</span></div>
    <div>Total: <span id="totalCount">n/a</span></div>
  </div>
  
</body>

</html>